# セキュリティ設定
IS_PRODUCTION=False
DJANGO_DEBUG=True

# Django
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=mydjangokey
ALLOWED_HOSTS=trail-info.jp

# Database
DATABASE_URL=mydburl

# PostgreSQL（docker-compose用）
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=trail_portal_dev

# AI API
DEEPSEEK_API_KEY=yourapikey
GEMINI_API_KEY=yourapikey
OPENAI_API_KEY=yourapikey
LANGSMITH_API_KEY=yourapikey

# CloudSchedulerエンドポイント用任意Bearerトークン
SCHEDULER_SECRET=yoursecret

# Optional: Slack通知
SLACK_WEBHOOK_URL=yourslackurl

# LANGSMITH設定
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="Trail Info production" # クオート付き

# AI出力保存設定
SAVE_AI_OUTPUTS=False

# FirebaseStudio用設定
IS_IDX=False