# settingsモジュールパス設定
DJANGO_SETTINGS_MODULE=config.settings.production

# デバッグ設定
DEBUG=False

# Django秘密鍵（任意のキーを設定してください）
DJANGO_SECRET_KEY=yourdjangokey

# 追加で許可されるホスト
EXTRA_ALLOWED_HOSTS=

# DatabaseURL
DATABASE_URL=postgres://yourusername:yourpassword@localhost:8000/trail_portal_dev

# 以下バッチ処理用
# AI API（本番環境ではGeminiとLangSmithを使用）
GEMINI_API_KEY=yourapikey
LANGSMITH_API_KEY=yourapikey
DEEPSEEK_API_KEY=yourapikey
OPENAI_API_KEY=yourapikey

# CloudSchedulerエンドポイント用任意Bearerトークン（任意のキーを設定してください）
SCHEDULER_SECRET=yoursecret

# Optional: バッチ処理完了時のSlack通知
SLACK_WEBHOOK_URL=yourslackurl

# LANGSMITH設定
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="Trail Info production" # クオート付き

# AI出力保存設定
SAVE_AI_OUTPUTS=False