# env
.env
.env*
!.env.example
.env.production

# python
.venv/
**/__pycache__/
.mypy_cache/
*.pyc
help/
.pytest_cache
*.egg-info/
dist/
build/
temp/
.ipynb_checkpoints/

# log
*.log
logs/*
!logs/.gitkeep

# documents
backups/
my_docs/
reports/
outputs/
*sample.json

# Claude
CLAUDE.md
Claude Conversations/

# pycharm
.idea/