.env
.env*
!.env.example
.env.production
.venv/
**/__pycache__/
.mypy_cache/
*.pyc
help/
*.log
Claude Conversations/
.pytest_cache
*sample.json

*.egg-info/
dist/
build/
temp/
.ipynb_checkpoints/

outputs/

logs/*
!logs/.gitkeep
backups/
my_docs/
reports/
/CLAUDE.md
