header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0.3rem;
  margin-bottom: 1.5rem;
  background-color: #888888;
}

.source-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.source-info > * {
  margin-top: -0.6rem;
}

.source-info span {
  display: block;
  margin-top: -0.5rem;
}

#source-name,
#filename-display {
  font-weight: bold;
}

#source-select {
  height: 40px;
  min-width: 284px;
  padding: 0 10px;
}

.container {
  display: flex;
}

.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

#chkbox-with-btn {
  display: flex;
  justify-content: space-between;
}

.null-chk-container {
  float: right;
}

#btn-grp {
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.null-check {
  margin-left: 10px;
}
